{{!-- checking to see if movie object has rating property, if so, adding as watched movie --}}
{{#if uid}}
    {{#if rating}}
      <div class="card p-2 watched" id="{{fbID}}">
    {{else}}
      <div class="card p-2 un-watched" id="{{fbID}}">
    {{/if}}
    {{!-- checking if there is a movie poster URL, if there is not, we will pass in placeholder image --}}
    {{#if movie_poster_full_URL}}
      <img src="{{movie_poster_full_URL}}">
    {{else}}
      <img src="placeholderimage">
    {{/if}}
      <h2>{{movie_title}}</h2>
      <p>Released: {{movie_year}}</p>
      <p>Cast: {{movie_cast}}</p>
      <div class="stars">
        <span class="star star-1">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
        <span class="star star-2">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
        <span class="star star-3">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
        <span class="star star-4">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
        <span class="star star-5">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
        <span class="star star-6">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
        <span class="star star-7">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
        <span class="star star-8">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
        <span class="star star-9">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
        <span class="star star-10">
          <svg class="star-unrated" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 51 48">
            <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
          </svg>
        </span>
      </div>
      <button type="button" class="btn btn-secondary my-1 delete-movie" id ="deleteMovie">Remove Movie</button>
  </div>
{{!-- if movie received has neither uid or watched as properties, prints as movie database movie --}}
{{else}}
  <div class="card p-2 dbMovie" id="{{this.movie_id}}">
  {{#if movie_poster_full_URL}}
    <img src="{{movie_poster_full_URL}}">
  {{else}}
    <img src="placeholderimage">
  {{/if}}
    <h2>{{this.movie_title}}</h2>
    <p>Released: {{this.movie_year}}</p>
    <p>Cast: {{this.movie_cast}}</p>
    <button type="button" class="btn btn-secondary my-1 add-to-watchlist" id="addToWatchlist">Add to Watchlist</button>
  </div>
{{/if}}
          <div class="card p-2 dbMovie" id="{{this.movie_id}}">
            {{#if movie_poster_full_URL}}
              <img src="{{movie_poster_full_URL}}">
            {{else}}
              <img src="placeholderimage">
            {{/if}}
            <h2>{{this.movie_title}}</h2>
              <p>Released: {{this.movie_year}}</p>
              <p>Cast: {{this.movie_cast}}</p>
              <button type="button" class="btn btn-secondary my-1 add-to-watchlist">Add Movie</button>
        </div>
    {{/if}}
