{{#each movie}}
  {{#if watched}} and it will print as a watched movie with class of watched, rate btn, delete btn, "watched"
      <div class="card p-2" id="{{this firebase key}} class="watched">
        {{#if this.movie_poster_full_URL}}
          <img src="{{this.movie_poster_full_URL}}"> 
        {{else}} 
          <img src="placeholderimage">
        {{/if}}
        <h2>{{this.movie_title}}</h2>
          <p>Released: {{this.movie_year}}</p>
          <p>Cast: {{this.movie_cast}}</p>
          <p>Watched</p>
        {{#if rating}}
          <p>{{this.rating}}</p>
        {{else}}
          <button type="button" class="btn btn-secondary my-1" id = "rate">Rate</button>
        {{/if}}
          <button type="button" class="btn btn-secondary my-1" id = "delete">Remove Movie</button>
      </div>
  {{#else uid}}
        <div class="card p-2" id="{{this firebase key}} class="un-watched">
          {{#if this.movie_poster_full_URL}}
            <img src="{{this.movie_poster_full_URL}}"> 
          {{else}} 
            <img src="placeholderimage">
          {{/if}}
          <h2>{{this.movie_title}}</h2>
            <p>Released: {{this.movie_year}}</p>
            <p>Cast: {{this.movie_cast}}</p>
            <p>Unwatched</p>
            <button type="button" class="btn btn-secondary my-1" id = "mark-as-watched">Mark As Watched</button>
            <button type="button" class="btn btn-secondary my-1" id = "delete">Remove Movie</button>
      </div>
  {{#else}}

  else print as DB movie with class of dbMovie, add to watchlistbtn

{{/each}}